#log-in p a {
    font-size: 11px;
    color: #aaa;
    float: right;
    margin-top: -13px;
    margin-right: 20px;
}

#log-in p a:hover {
    color: #555;
}

#log-in li {
  display: inline;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

#log-in .title-text {
  margin-right: 320px;
}

#log-in .log-in-text {
  margin-right: 370px;
}

#log-in input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
}

#log-in input[type=text], input[type=password] {
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
}

#log-in input[type=text] {
  margin-left: 14px;
}

#log-in input[type=password] {
    width: 291px;
}

#log-in #login-button {
  background-color: #4081e8; /* Blue */
  border: 1px;
  border-radius: 1px;
  color: white;
  padding: 8px 26px;
  margin: 0 0 0 160px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
